{% load dict_key %}
<html>
<header>
<title>Chubby Bird stats</title>
</header>
<body>
<form action="/" method="get">
  <label for="date_from">From date</label>
  <input type="date" name="date_from" value="{{ params.date_from }}">
  <label for="date_to">To date</label>
  <input type="date" name="date_to" value="{{ params.date_to }}">
  <br>
  <label for="index">Index</label>
  <select name="index">
    <option {% if params.index == "num_projects" %}selected{% endif %} value="num_projects">Projects count</option>
    <option {% if params.index == "pledged" %}selected{% endif %} value="pledged">Total pledged</option>
    <option {% if params.index == "num_backers" %}selected{% endif %} value="num_backers">Backers count</option>
  </select>
  <br>
  <label for="agg">Aggregation period</label>
  <select name="agg">
    <option {% if params.agg == "YEAR" %}selected{% endif %} value="YEAR">Year</option>
    <option {% if params.agg == "MONTH" %}selected{% endif %} value="MONTH">Month</option>
    <option {% if params.agg == "WEEK" %}selected{% endif %} value="WEEK">Week</option>
  </select>
  <br>
  <label for="state">State</label>
  <select name="state">
    <option value="">--</option>
    {% for state in statuses %}
    <option {% if params.state == state.state %}selected{% endif %} value="{{ state.state }}">{{ state.state|title }}</option>
    {% endfor %}
  </select>
  <br>
  <label for="category">Category</label>
  <select name="category">
    <option value="">--</option>
    {% for category in categories %}
    <option {% if params.category == category.category_name %}selected{% endif %} value="{{ category.category_name }}">{{ category.category_name|title }}</option>
    {% endfor %}
  </select>
  <input value="Submit" type="submit">
</form>
<table>
  <tr>
  {% for key in qs.first %}
    <th>{{ key }}</th>
  {% endfor %}
  </tr>
  {% for row in qs %}
  <tr>
  {% for key in row.keys %}
    <td>{{ row|dict_key:key }}</td>
  {% endfor %}
</tr>
{% endfor %}
</table>
</body>
</html>
